<h3>Profile page</h3>
<%= @user == current_user ? "Welcome back #{current_user.email}" : "Please login" %>

<br>
<h4>Friends</h4>

<% @user.true_friendships.each do |friendship| %>
  <%= friendship.user.email %>
  <%= link_to "delete", friendship_path(:friendship_id => friendship.id), method: :delete %>
<% end %>

<br>
<h4>Friendship request</h4>
<% @user.received_invites.each do |invite| %>
  <%= "#{invite.user.email} wants to meet you" %>
  <%= link_to "accept", friendships_path(:friendship_id => invite.id), method: :post %>
  <%= link_to "decline", friendship_path(:friendship_id => invite.id), method: :delete %>
<% end %>
