<!DOCTYPE html>
<html>
<head>
  <title>Pickr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
  <%= link_to('[logout]', :destroy_user_session, method: :delete) %>
<% else %>
  <%= link_to('[login]', :user_session, method: :post) %>
<% end %>

<%= yield %>

</body>
</html>
